<p id="notice"><%= notice %></p>

<p>
  <b>German:</b>
  <%= @vox.german %>
</p>

<p>
  <b>Wylie:</b>
  <%= @vox.wylie %>
</p>

<p>
  <b>Grm:</b>
  <%= @vox.grm %>
</p>

<p>
  <b>Cat:</b>
  <%= @vox.cat %>
</p>

<p>
  <b>Note:</b>
  <%= @vox.note %>
</p>

<p>
  <b>Temp1:</b>
  <%= @vox.temp1 %>
</p>

<p>
  <b>Length:</b>
  <%= @vox.length %>
</p>

<p>
  <b>Src:</b>
  <%= @vox.src %>
</p>


<%= link_to 'Edit', edit_vox_path(@vox) %> |
<%= link_to 'Back', voxes_path %>
