<h1>Listing grms</h1>

<table>
  <tr>
    <th>Grm</th>
    <th>Note</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @grms.each do |grm| %>
  <tr>
    <td><%= grm.grm %></td>
    <td><%= grm.note %></td>
    <td><%= link_to 'Show', grm %></td>
    <td><%= link_to 'Edit', edit_grm_path(grm) %></td>
    <td><%= link_to 'Destroy', grm, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Grm', new_grm_path %>
